* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);    
}

.main {
    display: flex;
    max-width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
}

.col {
    flex: 50%;
}

#container {
    padding: 32px;
}

#img {
    background: url("images/image-product-desktop.jpg");
    border-radius: 10px 0 0 10px;
}

h1 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100.8%;
}

h2 {
    font-family: 'Montserrat';
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.425em;
}

p {

}

button {
    background: #3D8168;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 165.9%;
    letter-spacing: 0.02em;
    border: none;
    border-radius: 7px;
}